<h1>Notifications</h1>

<% if @notifs.first %>
<% @notifs.each do |notif| %>
	<%= render partial: 'activity', locals: { notif: notif} %>	
<% end %>
<% else %>
	<div class="activity">Nothing to show yet!</div>
<%end%><br>
<%= will_paginate @notifs, previous_label: "Newer", next_label: "Older",inner_window: 1, outer_window: 0, renderer: BootstrapPagination::Rails %>
