<div class="jumbotron">
  <h2> CourseReview is the best way to find reviews of IITM courses </h2>
  <h3> Explore the various courses - most peace to the most painful ones! <br/>
  Leave reviews and ratings for your fellow IITians
</h3>
</div>
<h1><%= @s %></h1>

<%= @tokenURL %>
<%= link_to "Sign In",  @auth_url %>
<%if session[:access_token] %>

<%= @signout %>


<%end%>