<%= render 'layouts/sidebar' %> 
<div class = "sort_paginate_ajax col-md-9"><%= render 'courses' %></div>
<br>
<% if admin? %>
  <%= link_to 'New Course', new_course_path , class: "btn btn-link newcourse"%>
<% end %>