.jumbotron{
	background-color: #fdf8e1;
	border: 1px solid #0e79b6;
	h2{
		color: #0e79b6;
		font-weight: bold;
	}
}

.navbar-default{
	.container-fluid{
		background-color: #0e79b6;
		.navbar-nav > li > a{
			color: #ffffff;
			font-size: 16px;
			font-weight: bold;
		}
		.navbar-brand{
			color: #ffffff;
			font-size:30px;
			font-weight: bold;
		}
	}
}

.container-fluid{
	padding:10px 120px;
}

#search-form{
	display: table;
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
 }

 .sidenav{
background:white;
}

.menu-content{
	height: 500px;
	overflow-y: auto;
}

.side-list,.side-sublist{
list-style-type:none;
}

.side-a,.side-b{
color:#2C3E50;
font-weight:bold;
}

.side-a:hover,.side-b:hover,.side-a:active,.side-b:active{
text-decoration:none;
color:#2C3E50;
}

.active{
font-weight:bold;
}

.side-list{
padding:5px 0px 0px 0px;
}

tr.side-list{
	display: none;
}

.newcourse{
	position: fixed;
	bottom:30px;
	right:30px;
}

.tdnew{
	padding:0px;
	font-size:13px;
	vertical-align:inherit;
	border:0;
}