@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron{
	background-color: #fdf8e1;
	border: 1px solid #0e79b6;
	h2{
		color: #0e79b6;
		font-weight: bold;
	}
}

.navbar-default{
	.container-fluid{
		background-color: #0e79b6;
		.navbar-nav > li > a{
			color: #ffffff;
			font-size: 16px;
			font-weight: bold;
		}
		.navbar-brand{
			color: #ffffff;
			font-size:30px;
			font-weight: bold;
		}
	}
}

.container-fluid{
	padding:10px 120px;
}

#search-form{
	display: table;
	padding: 7px 0 0 15px;
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
 }

 .sidenav{
background:white;
}

.menu-content{
	max-height: 250px;
	overflow-y: auto;
}

.side-list,.side-sublist{
list-style-type:none;
}

.side-a,.side-b{
color:#2C3E50;
font-weight:bold;
}

.side-a:hover,.side-b:hover,.side-a:active,.side-b:active{
text-decoration:none;
color:#2C3E50;
}

.active{
font-weight:bold;
}

.side-list{
padding:5px 0px 0px 0px;
}

tr.side-list{
	display: none;
}

.tdnew{
	padding:0px;
	font-size:13px;
	vertical-align:inherit;
	border:0;
}

.panel{
  margin-bottom: 10px;
}

.list{
	cursor: pointer;
	font-weight: bold;
  background: #0E79B6 !important;
  border-color: #0E79B60 !important;
}

.caret{
	float: right;
    margin-top: 5px;
    border-top: 6px dashed;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}

.newcourse{
	position: fixed;
	bottom:40px;
	right:50px;
	box-shadow: rgba(14,121,182,0.6) 0px 0px 0px 0px;
    background: #0E79B6;
    border-radius: 50%;
    padding: 0;
    height: 45px;
    width: 45px;
    -webkit-transition: background 0.5s, color 0.5s, box-shadow 0.5s;
	-moz-transition: background 0.5s, color 0.5s, box-shadow 0.5s;
	-ms-transition: background 0.5s, color 0.5s, box-shadow 0.5s;
	-o-transition: background 0.5s, color 0.5s, box-shadow 0.5s;
	transition: background 0.5s, color 0.5s, box-shadow 0.5s;
    &:hover{
    	box-shadow: rgba(14,121,182,0.6) 0px 0px 0px 6px;
    	background: #0E79B6;
    }

  .glyphicon{
    margin-top: 10px;
    color: white;
    font-size: 18px;  
  }
}

.glyphicon-update {
  @extend .glyphicon-edit;
}

.glyphicon-create {
  @extend .glyphicon-plus;
}

.glyphicon-destroy {
  @extend .glyphicon-remove;
}

.bubble {
    position: absolute;
    top: 5px;
    left: 45px;
    background-color: red;
    color: white;
    width: 15px;
    line-height: 15px;
    height: 15px;
    text-align: center;
    font-weight: bold;
    font-size: .85em;
    border-radius: 15px;
    box-shadow: 1px 1px 1px gray;
}

.activity {
  border-bottom: solid 1px #CCC;
  padding: 16px 0;
  em {
    color: #777;
    font-size: 12px;
    padding-left: 5px;
  }
  a{
   color: #337ab7;
  }
}

.activity1 {
  border-bottom: solid 1px #CCC;
  padding: 5px 0;
  em {
    color: #777;
    font-size: 12px;
    padding-left: 5px;
  }
  a:hover{
    background: rgba(14,121,182,0.2) !important;
  }
}
.newcourse + .tooltip > .tooltip-inner {
    background-color: white; 
    color: #0E79B6; 
    box-shadow: 0 0 7px #0E79B6;
    border-radius: 5px;
    padding: 7px;
    border: 2px solid #0E79B6;
    font: bold 14px "Helvetica Neue", Sans-Serif;
}

.newcourse + .tooltip.top > .tooltip-arrow {
    border-top: 5px solid #0E79B6;
}

  .pagination{
    margin: 0;
  }

  .oauth{
  	  &:hover,&:visited{
  		color: white;
  	}
  }
  
  span.stars, span.stars span {
    display: block;
    background: url(stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}

.rating {
    float: left;
}
.rating span {
    font-size: 25px;
    cursor: pointer;
    float: right;
    color: grey;
}

.rating span:hover, .rating span:hover ~ span{
    color: #F3DE06;
}

.navbar-default .navbar-nav > .open > a{
  background-color: #0e79b6;
  &:hover,&:focus{
    background-color: #0E6FA7;
    color: white;
  }
}

.dropdown-menu > li > a{
  color: #0e79b6;
  &:hover,&:focus{
    color: #0e79b6;
    background: rgba(14,121,182,0.2);
  }
}