<% @depts = Dept.all %>
<div class="sidenav">
	<form id="menu-content" class="menu-content form-group">
		<li class="side-list"><input type="checkbox" class="form-group">All<span class="arrow"></span></input></li>
	<% @depts.each do |dept| %>
			<li class="side-list"><!-- <input type="checkbox" class="<%= dept.name%>"><%= dept.label %></input> -->
				<%= check_box_tag "dept_id[]",dept.name%>
				<%= h dept.label %>
      </li>
	<% end %>
	</form> 

</div>
