<% @depts = Dept.all %>
<div class="sidenav col-md-3">
	<h4>List by Department</h4>
	<form id="menu-content" class="menu-content form-group">
	<% @depts.each do |dept| %>
			<li class="side-list">
				<%= radio_button_tag 'dept_id',dept.id,false,
				data: {remote: true,url: url_for(action: :index, dept_id: dept.id),dept_id: dept.id}
				%>
				<%= h dept.label %>
      </li>
	<% end %>
	</form> 

</div>
